﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Popular Pizzas";
    var toppings = Model.Top20Toppings;
}
<h1 class="table-title">Top 20 Most Ordered Pizza Configurations</h1>
<table>
    <tr>
        <th>Topping Combination</th>
        <th>Number of Orders</th>
    </tr>

    @foreach(var x in toppings)
    {
        <tr>
            <td>@x.Key</td>
            <td>@x.Value</td>
        </tr>
    }
</table>

